<div class="cust-container">
    <div class="cust-header">
        <div class="logo-c">
            <img class="cust-header_img" src="assets/img/logo_main.png" alt="Here must be logo">
            <span class="cust-header_span">guerriero</span>
        </div>
        <div class="wrapper-he">
            <div class="user-info" [routerLink]="['user']">
                <img class="user-phot {{css_class1}}" src="{{img_df}}" alt="User photo must be here">
                <img class="user-phot {{css_class2}}" src="{{image}}" alt="User photo must be here">
                <span>{{this.firstname}} {{this.lastname}}</span>
            </div>

            <button class="logout" (click)='logout()'>
                <img src="assets/img/logout.png" alt="Log out" />
            </button>
        </div>
    </div>

    <div class="cust-left-menu">
        <ul class="cust-main-list-1">
            <h5>YOUR</h5>
            <li class="row">
                <img src="assets/img/icon/plans.png">
                <a [routerLink]="['plans']">My Plans</a>
            </li>
           <!-- <li class="row">
                <img src="assets/img/icon/calories.png">
                <a [routerLink]="['blocks']">Calories eat</a>
            </li>-->
            <li class="row">
                <img src="assets/img/icon/location.png">
                <a [routerLink]="['news']">News</a>
            </li>
            <li class="row">
                <img src="assets/img/icon/run.png">
                <a [routerLink]="['exercises']">My progress</a>
            </li>
            <!--<li class="row">
                <img src="assets/img/icon/bodyb.png">
                <a [routerLink]="['blocks']">Bodybuilding</a>
            </li>-->
        </ul>
    </div>

    <div class="cust-content">
        <router-outlet></router-outlet>
    </div>
</div>