<div class="container">
    <div class="line-calendar-block">
        <span>Bodybuilding</span>
        <hr>
    </div>
    <div class="description-exercises row">
        <div class="block-desc">
            <div class="head-esc success">
                <h6>Exercise name</h6>
                <div class="wrapper">
                    <table>
                        <tr>
                            <th class="calories">Calories</th>
                            <th rowspan="2" class="something">Something</th>
                        </tr>
                        <tr>
                            <td class="speed">Speed</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="block-desc">
            <div class="head-esc"></div>
        </div>
    </div>
</div>