/*---------------------Head---------------------*/

.line-calendar-block {
    /*background-color: yellow;*/
    height: 100px;
    padding: 20px 0 0 0;
}

.line-calendar-block span {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 50px 0 0;
}

hr {
    border: 0.25px solid rgba(255, 255, 255, 0.7);
}


/*---------------------Head---------------------*/


/*---------------------Description---------------------*/

.description-exercises {
    /*background-color: green;*/
    height: 300px; 
    padding: 0 0 0 45px;
}

.block-desc {
    margin:15px auto;
    background-color: #3d3d3d;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    height: 250px;    
    width: 40%;
}
.block-desc-plan{
    margin:15px auto;
    text-align: center;
    background-color: #3d3d3d;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    height: auto;    
    width: 90%;
}
.block-desc-plan span{
    color: rgba(255,255,255,0.7);
}
.folowers{
    float:left;
    margin-left:15px;
}
.owner{
    float:right;
    margin-right:15px;
}
.head-esc {   
    height: 50px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 0 0 0;
}

.head-esc h6 {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 20px;
}


/*-------------------------------*/

table {
    height: 200px;
    width: 100%;
}

.wrapper {
    height: 200px;
    margin: 11px 0 0 0;
}

.calories {
    /*background-color: yellow;*/
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align: center;
    vertical-align: middle;
}
.calories h6{
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
}
.calories img{
    height: 20px;
    width:20px;
    border-radius: 15px;
    float:left;
    margin:9px 10px 0 7px;
}
.speed {
    /*background-color: green;*/
    height: 100px;
    width: 40%;
    color: rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    text-align: center;
    vertical-align: middle;
}

.speed h6{
    font-family: 'Montserrat', sans-serif;
    font-size:32px;
}
.speed img{
    height: 25px;
    width:25px;
    float:left;
    margin:9px 10px 0 7px;
}
.result-exercise {
    /*background-color: blue;*/
    height: 200px;
    width: 60%;
}



.exrcise-holder{
    text-align: center;
    overflow: auto;
}

.exrcise-holder h6{
    margin: 0 0 16px 0;
}

.exrcise-holder input{
    border:0 solid;
    border-radius:15px;
    margin:5px 0; 
    height: 20px; 
    border-radius: 25px;
    padding: 0 0 0 15px;
    background-color: #252525;
    color: white!important;      
}
/*-------------------------------*/

.success {
    background-color: #82ca9c !important;
}


/*---------------------Description---------------------*/