<div class="container">
    <div class="line-calendar-block">
        <span>Coach Plan Name</span>
        <hr>
    </div>
    <div class="description-exercises">
            <div class="block-desc-plan">
                    <img src="assets/img/icon/plans.png" width="300" height="300">  
                    <p>Plan Description</p>
                </div>
        <div class="block-desc">
            <div class="head-esc success">
                <h6>Plan name</h6>
                <div class="wrapper">
                    <table>
                        <tr>                           
                            <th rowspan="2" class="exrcise-holder">
                                    <h6>Exercise name</h6>
                                    <input id="inpt11" type="text" placeholder="156kg">
                                    <input id="inpt21" type="text" placeholder="156kg">
                                    <input id="inpt31" type="text" placeholder="156kg">
                                    <input id="inpt41" type="text" placeholder="156kg">                                    
                            </th>
                        </tr>
                        <tr>
                            <td class="speed"><img src="assets/img/watch_img.png" alt="calories logo" />
                                <h6>84</h6>
                            <span>MIN SPENT</span>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="block-desc-plan">
            <span class="folowers">FOLOWING: 0</span>
            <span class="owner">OWNER: SOME GUY</span>
        </div>
    </div>
</div>