<div class="main">
    <!--<table class="tg">
        <tr>
            <th rowspan="5" class="photo-holder">
                <img class="user-phot" src="{{profile.image}}" alt="User photo must be here">
            </th>
            <th class="user-name">{{profile.firstname}} {{profile.lastname}}</th>
        </tr>
        <tr>
            <td class="user-age">Age: {{profile.age}}</td>
        </tr>
        <tr>
            <td class="user-height">Height: {{profile.height}}</td>
        </tr>
        <tr>
            <td class="user-weight">Weight: {{profile.weight}}</td>
        </tr>
        <tr>
            <td class="user-email">Email: {{profile.email}}</td>
        </tr>
        <tr>
            <td class="btn-holder">
                <button type="submit" class="butt">Upload new photo</button>
            </td>
            <td></td>
        </tr>
    </table>-->
    <div class="portfoliocard">
            <div class="coverphoto"></div>
            <div class="profile_picture">
                    <img class="user-phot" src="{{profile.image}}" alt="User photo must be here">
            </div>
            <div class="left_col">
                <div class="followers">
                    <div class="follow_count">18,541</div>
                    Followers
                </div>
                <div class="following">
                    <div class="follow_count">181</div>
                    Following
                </div>
            </div>
            <div class="right_col">
                <h2 class="name">{{profile.firstname}} {{profile.lastname}}</h2>
                <h3 class="location">San Francisco, CA</h3>
                <ul class="contact_information">
                    <li class="work">Age: {{profile.age}}</li>
                    <li class="website">Weight: {{profile.weight}}</li>
                    <li class="mail">Email: {{profile.email}}</li>
                    <li class="phone">Height: {{profile.height}}</li>
                    <li class="resume"><a href="#" class="nostyle">download resume</a></li>
                </ul>
            </div>
            </div>
</div>