<div class="main">
    <table class="tg">
        <tr>
            <th rowspan="5" class="photo-holder">
                <img class="user-phot" src="{{profile.image}}" alt="User photo must be here">
            </th>
            <th class="user-name">{{profile.firstname}} {{profile.lastname}}</th>
        </tr>
        <tr>
            <td class="user-age">Age: {{profile.age}}</td>
        </tr>
        <tr>
            <td class="user-height">Height: {{profile.height}}</td>
        </tr>
        <tr>
            <td class="user-weight">Weight: {{profile.weight}}</td>
        </tr>
        <tr>
            <td class="user-email">Email: {{profile.email}}</td>
        </tr>
        <tr>
            <td class="btn-holder">
                <button type="submit" class="butt">Upload new photo</button>
            </td>
            <td></td>
        </tr>
    </table>
</div>