<div class="main">
    <table class="tg">
        <tr>
            <th rowspan="5" class="photo-holder">
                <img class="user-phot" src="assets/img/users/user_profile_male.jpg" alt="User photo must be here">
            </th>
            <th class="user-name">John Smith</th>
        </tr>
        <tr>
            <td class="user-age">Age: 25</td>
        </tr>
        <tr>
            <td class="user-height">Height: 152</td>
        </tr>
        <tr>
            <td class="user-weight">Weight: 100</td>
        </tr>
        <tr>
            <td class="user-email">Email: someemail</td>
        </tr>
        <tr>
            <td class="btn-holder">
                <button type="submit" class="butt">Upload new photo</button>
                <button type="submit" class="set-btn">Settings</button>
            </td>
            <td></td>
        </tr>
    </table>
</div>