.user-phot {
    height: 350px;
    width: 350px;
    border-radius: 50px;  
  }
  
  .photo-holder {  
    width:30%;
  }
  
  table {
    color: white;
    margin: 50px 0 0 50px;
    width: 80%;
  }
  
  th,
  td {
    /*border: 2px solid white;*/
  }
  
  .btn-holder{
    text-align: center;
    padding:20px 0;
  }
  .set-btn{
      
  }
  .butt {
    width: 100%;
    border: 0 solid;
    background-color: #82ca9c;
    border-radius: 25px;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .butt:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
  }
  
  
  .user-name {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 100px;  
  }
  
  .user-age {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 150px;
  }
  
  .user-height {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 150px;
  }
  
  .user-weight {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 150px;
  }
  .user-email {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 150px;
  }
  