<div class="container">
    <div class="line-block">
        <span id="plan-name" >{{planName}}</span>
        <!--<span id="add-new" (click)="addPlan($event)">
            <a>Add new</a>
        </span>-->
        <hr>
    </div>

    <div>
        <div class="exercises-block">
            <span>Choose a sport</span>
            <fieldset>
                <!-- Radio one -->
                <input type='radio' id='radio1-1' (click)="clickedSport('RUN')" name='radio'>
                <label for='radio1-1'><img src="assets/img/icon/powerlifting.png"><br/>POWERLIFTING</label>
                <!-- Radio two -->
                <input type='radio' id='radio1-2' (click)="clickedSport('BODUBUILDING')" name='radio'>
                <label for='radio1-2'><img src="assets/img/icon/bodybuilding.png"><br/>BODYBUILDING</label>
                <!-- Radio three -->
                <input type='radio' id='radio1-3' (click)="clickedSport('SWIMMING')" name='radio'>
                <label for='radio1-3'><img src="assets/img/icon/powerlifting.png"><br/>CARDIO</label>
                <!-- Radio four -->
                <input type='radio' id='radio1-4' (click)="clickedSport('Sport4')" name='radio'>
                <label for='radio1-4'><img src="assets/img/icon/powerlifting.png"><br/>CUSTOM EXERCISES</label>
                <!-- Radio five -->
                <input type='radio' id='radio1-5' (click)="clickedSport('Sport5')" name='radio'>
                <label for='radio1-5'><img src="assets/img/icon/powerlifting.png"><br/>FITNESS</label>
            </fieldset>
        </div>
        <div class="settings-block row">
            <div class="description-block">
                <div class="head-block" (click)="changeName()">
                    <span id="block_name_head">{{blockName}}</span>
                </div>
                <div class="set-cont-block row">
                    <div class="settings">
                        <h6 (click)="changeExerciseName()">{{exerciseName}}</h6>
                        <label>Duration: </label>
                        <input id="inpt11" type="text" placeholder="minutes" [(ngModel)]="Time">
                        <label>Distance: </label>
                        <input id="inpt21" type="text" placeholder="km" [(ngModel)]="Distance">
                        <label>Weight: </label>
                        <input id="inpt31" type="text" placeholder="kg" [(ngModel)]="Weight">
                        <label>Amount: </label>
                        <input id="inpt41" type="text" placeholder="0" [(ngModel)]="Amount">                        
                    </div>
                    <div class="settings">
                        <h6 (click)="changeExerciseName1()">{{exerciseName1}}</h6>
                        <label>Duration: </label>
                        <input id="inpt11" type="text" placeholder="minutes" [(ngModel)]="Time1">
                        <label>Distance: </label>
                        <input id="inpt21" type="text" placeholder="km" [(ngModel)]="Distance1">
                        <label>Weight: </label>
                        <input id="inpt31" type="text" placeholder="kg" [(ngModel)]="Weight1">
                        <label>Amount: </label>
                        <input id="inpt41" type="text" placeholder="0" [(ngModel)]="Amount1">                        
                    </div>
                    <div class="settings">
                        <h6 (click)="changeExerciseName2()">{{exerciseName2}}</h6>
                        <label>Duration: </label>
                        <input id="inpt11" type="text" placeholder="minutes" [(ngModel)]="Time2">
                        <label>Distance: </label>
                        <input id="inpt21" type="text" placeholder="km" [(ngModel)]="Distance2">
                        <label>Weight: </label>
                        <input id="inpt31" type="text" placeholder="kg" [(ngModel)]="Weight2">
                        <label>Amount: </label>
                        <input id="inpt41" type="text" placeholder="0" [(ngModel)]="Amount2">                        
                    </div>
                </div>
            </div>
            <div class="cust-btn-holder">
                <button class="btncust btn btn-success" (click)="addNewPlan()">CONFIRM</button>
                <button class="btncust btn btn-danger">CANCEL</button>
            </div>
            <!--<div class="add-new-block" (click)="addBlock()">
                ADD BLOCK 
            </div>-->
        </div>
    </div>
</div>