.container {
    height: auto!important;
}


/*---------------Line Block---------------*/

.line-block {
    /*background-color: green;*/
    height: 100px;
    padding: 20px 0 0 35px;
    overflow: hidden;
}

.line-block span {
    font-size: 42px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 50px 0 0;
    -moz-text-shadow:0 0 10px #fff; 
    -webkit-text-shadow:0 0 10px #fff; 
    text-shadow:0 0 10px #fff;
}

.line-block hr {
    border: 0.25px solid rgba(255, 255, 255, 0.7);
}

#add-new {
    color: white !important;
}


/*---------------Line Block---------------*/


/*---------------Exercises Block---------------*/

.exercises-block {
    /*background-color: yellow;*/
    padding: 35px 0 0 35px;
    height: 200px;
}

.exercises-block span {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}

.blocks {
    padding: 15px 0 0 10px;
}


/*---------------Exercises Block---------------*/


/*---------------Settings Block---------------*/

.settings-block {
    /* background-color: blue;*/
    height: 300px;
    padding: 40px 0 0 45px;
}
.settings label{
    color:rgba(255,255,255,0.7);
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.head-block {
    height: 60px;
    background-color: #414141;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 0 0 0;
}

#block_name_head {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 20px;
}

.description-block {
    background-color: red;
    width: 560px;
    height: 350px;
    margin: 0 6px 0 6px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(#404040, #303030);
    background: -o-linear-gradient(#404040, #303030);
    background: -moz-linear-gradient(#404040, #303030);
    background: linear-gradient(#404040, #303030);
}

.settings {
    height: 170px;
    width: 28%;
    margin: 0 8px 0 8px;
}

.settings input {
    width: 120px;
    height: 20px;
    border-radius: 25px;
    padding: 0 0 0 30px;
    background-color: #252525;
    color: white;
    font-size: 14px;
    border: 0px solid;
}

.settings h6 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: white;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

 :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}

.set-cont-block {
    padding: 10px 0 0 35px;
}

.add-new-block {
    background-color: #3d3d3d;
    width: 210px;
    height: 250px;
    margin: 0 6px 0 6px;
    padding: 100px 0 0 0;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#add-new:hover{
    cursor: pointer;
}
.clicked-block{
    background-color: #82ca9c;
}
.content-hide{
    display: none;
}
.content-show{
    display: block;
}
.other-show{
    display: block;
    color: white;
    font-size:32px;
    text-align: center;
}
.other-hide{
    display: none;
}
/*---------------Settings Block---------------*/
.cust-btn-holder{
    margin-left:100px;
    margin-top:190px;
    float:right;
}
.btncust{
    font-size:24px;
}
/*--------------RadioButtons---------------------*/

input[type='radio'] + label{
		text-align: center;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-family: 'Trebuchet MS', Helvetica, sans-serif;	
	}
fieldset{	
	min-height: 90px;
    line-height: 45px;    
    margin: 20px 0 20px 0;	
	margin-right: 20px;	
}
input[type='radio']{
	display: none;
}
/* -------------------
	Default State
-------------------- */
input[type='radio'] + label{
	z-index: 10;
	margin: 0 10px 10px 0;
	width: 18%;
	height: 110px * .3 * 1.13;
	line-height: 110px * .3 * 1.1;
	position: relative;
	font-size: 110px * .12;
	letter-spacing: .1em;
	color: rgba(255,255,255,0.8);
	text-shadow: 0 1px 0 rgba(255,255,255,.1);
	font-weight: bold;
	background-color: #636363;
    border-radius:3px;
}

input[type='radio'] + label:after{
	z-index: -1;
	content: '';
	cursor: pointer;
	top:110px * .3 * .06;
	margin-left: 50%;
	left: -110px /2;
	width: 110px ;
	height: 110px * .3;
	display: block;
	position: absolute;
	background-color: #82ca9c;
	border-radius:2px;
}
input[type='radio'] + label:hover{
	color: rgba(0,0,0,0.8);
    text-shadow:0 -1px 0 rgba(0,0,0,.4);
    background-color: #82ca9c;
}
input[type='radio'] + label:hover:after{
    background-color: #82ca9c;
}
/* -------------------
	Active States
-------------------- */
input[type='radio']:checked + label{
    color: rgba(0,0,0,0.8);
    background-color: #82ca9c;
	text-shadow:0 -1px 0 rgba(0,0,0,.3),0 0px 30px rgba(0,255,255,.7);
}

input[type='radio']:checked + label:after{
	background-color: #82ca9c;
}

/* -------------------
	Radio Specific Style
-------------------- */
input[type='radio'] + label{
	font-family: 'ModernPictogramsNormal', Arial, sans-serif;
	font-size: 110px/3;
	line-height: 110px /2;
	letter-spacing: 0;
	width:110px/2;
	height:110px /2;	
}
input[type='radio'] + label:after{
	top:110px * .3 * .08;
	left: (-110px /2)/2.2;
	width:110px/2.2;
	height:110px/2.2;
}
label img{
    height: 40px;
    width:42px;
    margin: 11px 2px 0 0;
}