<div class="content">

        <div class="exercises-block">
                <span>Choose a sport</span>
                <fieldset>
                    <!-- Radio one -->
                    <input type='radio' id='radio1-1' (click)="clickedSport('POWERLIFTING')" name='radio'>
                    <label for='radio1-1'><img src="assets/img/icon/powerlifting.png"><br/>POWERLIFTING</label>
                    <!-- Radio two -->
                    <input type='radio' id='radio1-2' (click)="clickedSport('BODUBUILDING')" name='radio'>
                    <label for='radio1-2'><img src="assets/img/icon/bodybuilding.png"><br/>BODYBUILDING</label>
                    <!-- Radio three -->
                    <input type='radio' id='radio1-3' (click)="clickedSport('CARDIO')" name='radio'>
                    <label for='radio1-3'><img src="assets/img/icon/powerlifting.png"><br/>CARDIO</label>
                    <!-- Radio four -->
                    <input type='radio' id='radio1-4' (click)="clickedSport('CUSTOM EXERCISES')" name='radio'>
                    <label for='radio1-4'><img src="assets/img/icon/powerlifting.png"><br/>CUSTOM EXERCISES</label>
                    <!-- Radio five -->
                    <input type='radio' id='radio1-5' (click)="clickedSport('FITNESS')" name='radio'>
                    <label for='radio1-5'><img src="assets/img/icon/powerlifting.png"><br/>FITNESS</label>
                </fieldset>
            </div>

    <h2>My plans</h2>
    <div class="all-exercise row">
        <div *ngFor='let c of plans' id="new-exercise">
            <span><h2>{{c.name}}</h2></span>
            <div id="myDropdown" class="dropdown-content">
                <a [routerLink]="['../blocks',c.id]">EDIT</a>
                <a [routerLink]="['../exercises']">VIEW</a>
                <a href="#contact">DELETE</a>
              </div>
        </div>
        
        <div id="add-new-exercise">
            <h2 (click)='addPlan()'>Add new</h2>
        </div>     
    </div>
    <hr/>
    <h2>Folowing</h2>
    <div class="all-exercise row">
        <div *ngFor='let c of recommends' id="new-exercise">
            <span><h2>{{c.name}}</h2></span>
            <div id="myDropdown" class="dropdown-content">
                <a [routerLink]="['../blocks',c.id]">EDIT</a>
                <a href="#about">VIEW</a>
                <a (click)='unfollow(c.id)'>UNFOLLOW</a>
              </div>
        </div>    
    </div>
</div>